#
# Copyright (c) 2020 Ioannis Konstantelias
#
# SPDX-License-Identifier: Apache-2.0
# 

menuconfig SENSOR
    bool "Sensor Drivers"
    help
        Include sensor drivers in config

if SENSOR

rsource "bmp388/Kconfig"

endif # SENSOR
